/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card{
  padding:10px;
  border: 1px solid grey;
  margin:20px;
  width: 300px;
  border-radius: 10px;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/*.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}*/
body{
    background-color:rgb(223, 216, 208);
    height: 100vh;
    font-family:sans-serif;
    padding:0;
    margin:0 auto;
    display:flex;
    justify-content:center;
    align-items:center;

}
.container{
    text-align:center;
    width:500px;
    /*height:auto;*/
    margin: 30px;
    padding:1rem;
    background-color:antiquewhite;
   box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}
h1{
    font-size:1rem;
    text-align: center;
    color:rgb(16, 16, 36);
}
button{
background-color: chocolate;
color: white;
border-radius:10px;
}
button:hover{
    transform:scale(1.05);
}